@font-face {
	font-family: "Gilroy-Bold";
	src: url(../fonts/Gilroy/Gilroy-Bold.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy-Medium";
	src: url(../fonts/Gilroy/Gilroy-Medium.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
}
/* -------------------------------------------reset-styles------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}

h1,h2, h3, h4, h5, h6{font-style: inherit;}

/* -------------------------------------------main-styles------------------------------------------- */
html{
	scroll-behavior: smooth;
}
body{
	font-family: "Gilroy-Medium";
	font-size: 18px;
	color: #070707;
}
section{
	padding: 90px 0px; 
}
h2{
	font-size: 34px;
	text-align: center;
}

.container{
	max-width: 945px;
	margin: 0 auto;
	padding: 0 15px;
}

.header{
	padding: 32px 0px;
	background-color: #F6F6F6 ;
}
.header nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #828282;
}

.header nav ul li{
	border-bottom: 2px solid transparent;
	transition: 0.5s;
}
.header nav ul li:hover{
	border-bottom: 2px solid #828282;
}
.burger-menu{
	display: none;
}	
.burger-menu span{
	display: block;
	width: 30px;
	height: 3px;
	margin-bottom: 5px;
	background-color: #828282;
}
.burger-menu img{
	display: none;
	width: 30px;
	height: 30px;
}

.header.open .burger-menu img{
	display: block;
}
.header.open .burger-menu span{
	display: none;
}
.banner{
	display: flex;
	gap: 30px;
}
.banner-text{
	width: 40%;
	align-self: center;
}
.banner-text h1{
	font-size: 48px;
	margin-bottom: 20px;
}
.banner-text p span{
	display: block;
}
.banner-img{
	width: 60%;
}
.banner-img img{
	width: 100%;
	height: 100%;
}

.about{
	background: #F6F6F6;
	padding: 120px 0;
}

.about .container{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.about p{
	max-width: 430px;
	text-align: center;
}

.skills{
	padding: 90px 0;
}

.skills.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.skills ul{
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-top: 40px;
}

.skills ul li{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
.skills ul li img{
	width: 88px;
}

.skills ul li svg{
	width: 80%;
}

.portfolio{
	background: #F6F6F6;
}
.portfolio-cards{
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-top: 50px;
}
.swiper{
	padding: 50px 0;
}
.portfolio-card{
	width: 100%;
	min-height: 346px;
	max-width: 350px;
	margin: 0 auto;
	display: flex;	
	flex-direction: column;
	align-items: center;
	gap: 30px;
	background-color: #FFFFFF;
}

.portfolio-card div{
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.portfolio-card div img{
	width: 100%;
}
.portfolio-card >a{
	text-decoration: underline;
	text-align: center;
	font-size: 16px;
}

.portfolio-btn{
	text-decoration: none !important;
	padding: 5px 25px;
	background: #070707;
	color: #FFFFFF !important;
	font-size: 14px !important;
	white-space: nowrap;
	border-radius: 20px;
	margin-top: auto;
	margin-bottom: 20px;
	border: 1px solid #070707;
}

.portfolio-btn:hover{
	background: #FFFFFF;
	color: #070707 !important;
	transition: all 0.5s ease;
}

.footer{
	background: #000000;
	padding: 30px 0;
	color: #cccccc;
	font-size: 12px;
}

.footer .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contacts-list{
	display: flex;
	gap: 20px;
}

@media (max-width: 775px) {
	.banner-text h1{
		font-size: 35px;
	}
}

@media (max-width: 570px) {
	.burger-menu{
		display: block;
	}
	.header nav{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 80px;
		left: -100%;
		background-color: #F6F6F6;
	}
	.header nav ul{
		flex-direction: column;
		gap: 20px;
		align-items: flex-start;
		margin-left: 10px;
	}

	.header.open nav{
		left: 0;
		transition: 0.5s;
	}

	.banner{
		flex-direction: column;
		padding: 30px 15px;
	}
	.banner-text{
		width: 100%;
	}
	.banner-img{
		width: 100%;
	}
	.about{
		padding: 50px 0;
	}
	.skills{
		padding: 50px 0;
	}
	.skills.container{
		gap: 20px;
	}
	.skills ul{
		flex-direction: column;
		margin-top: 10px;
		gap: 50px;
	}
	.skills ul li{
		gap: 15px;
	}
	.swiper-button-next,
	.swiper-button-prev{
		display: none;
	}

	.footer .container{
		flex-direction: column-reverse;
		gap: 20px;
	}
}